.center {
  text-align: center;
  color: rgb( 42, 00, 69);
}

#paratomato {
  text-align: left;
  color: hsl(9, 100%, 64%, 0.5);
}

* {
  font-family: 'Imbue', serif;
}

p {
  text-align: right;
}

a[target="yellow"] {
  background-color: yellow;
}

a:hover {
  color: #FF00FF;
}

div > p {
  background-color: yellow;
}

div p {
  background-color: grey;
}

div ~ p {
  color: red;
}

div + p {
  background-color: red;
}

h1, h2 {
  text-align: center;
}

p.intro {
  background-color: yellow;
}

#border {
  border-style: solid;
  border-width: medium;
  border-color: green;
  border-radius: 10px;
}

#unit1 {
  font-size: 40vw;
  border-style: dotted;
  border-width: 15px;
}

#unit2 {
  font-size: 15vh;
  border-style: double;
  border-radius: 15px;
}

#unit3 {
  font-size: 10vmax;
  border-style: dotted;
  border-width: 5px;
}

#boxmodel {
  width: 300px;
  border: 15px black;
  padding: 20px;
  margin: 50px;
}

#marginlong {
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 20px;
  margin-left: 20px;
}

#marginshort {
  margin: 50px 20px 50px 20px;
}

#marginauto {
  margin: auto;
}

#paddinglong {
  border: 1px solid grey;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}

#paddingshort {
  border: 1px dotted black;
  padding: 20px 20px 20px 20px;
}
